@font-face
{
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: normal;

    src: url('OpenSans-Extrabold.eot');
    src: url('OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),
    url('OpenSans-Extrabold.woff') format('woff'),
    url('OpenSans-Extrabold.ttf') format('truetype');
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;

    src: url('OpenSans-Regular.eot');
    src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('OpenSans-Regular.woff') format('woff'),
    url('OpenSans-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Bliss Pro';
    font-weight: 900;
    font-style: italic;

    src: url('BlissPro-HeavyItalic.eot');
    src: url('BlissPro-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('BlissPro-HeavyItalic.woff') format('woff'),
    url('BlissPro-HeavyItalic.ttf') format('truetype');
}
