@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

body {
  font-family: 'PT Sans', sans-serif !important;
}

body {
  padding: 0;
  margin: 0;
  background: #f1f1f1 !important;
}

a {
  transition: 0.2s;
} a:hover, a:active, a:focus {
  color: #5688C7;
  text-decoration: none;
}

.errormsg {
  color: #DB5461;
}

.success {
  color: rgb(123, 227, 170);
}

.sendmail {
  margin-top: 250px;
}

.name {
  color: #293132;
}

input {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #3aa0de;
  color: white;
  font-size: 16px;
  transition: 0.3s;
} input:active,
  input:focus {
    outline: none;
}

.naming a {
  color: white;
  font-family: 'Patrick Hand SC', cursive;
}

.flat-btn {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  background: transparent;
}

.avatar {
  border-radius: 50%;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.preloader {
  animation-name: spin;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  vertical-align: middle;
  font-size: 25px;
}

.slide-enter-active, .slide-leave-active {
  transition: transform 0.3s ease-in-out;
}
.slide-enter, .slide-leave-to {
  transform: translateX(400px);
}

.vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.horizontal-vert-center {
  display: flex;
  align-items: center;
}

.box {
  background-color:#fff;
  box-shadow: 0 3px 6px #ccc;
  border-radius: 2px;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

input {
  color: black;
}

table {
  color: #293132;
} th {
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid black;
  color: white;
} td {
  padding: 10px;
  text-align: center;
  color: rgb(70, 107, 121);
} .body-row:nth-child(even) {
  background: rgb(234, 244, 245);
} .body-row:nth-child(odd) {
  background: white;
} .body-row:hover {
  border-left: 1px solid rgb(233, 103, 44) !important;
} .body-row:hover td {
  color: rgb(233, 103, 44);
}

.table-responsive.box {
  border-top: 5px solid rgb(144, 197, 246);
  border-bottom: 5px solid rgb(211, 215, 217);
  border-radius: 5px;
  padding-bottom: 0 !important;
} .table-responsive table {
  margin-bottom: 0 !important;
}

.table-responsive table th,
.table-responsive table td {
  border: 1px solid rgba(207, 206, 216, 0.4) !important;
}

.headers {
  background: rgb(98, 171, 242);
} .headers:hover {
  background: rgb(98, 171, 242) !important;
  color: white !important;
}

.text-bold {
  font-weight: bold;
}
