<template>
<div>
  <app-header style="margin-bottom: 80px;" />
  <div class="row">
    <div class="col-lg-12">
      <center>
        <h1> Пользовательское соглашение</h1>
        <br>
        <h2>
          Просим Вас подробно ознакомиться с настоящим
          Пользовательским соглашением (далее — «Соглашение»),
           принять на себя налагаемую им ответственность
          и подтвердить свое полное и безоговорочное согласие с ним.
        </h2>
        </center>
        <div class="dju">
        <p>
          <center>
          <h3>1. Терминология</h3><br>
          </center>
          <b>1.1 </b>Сайт Lexium, далее «Сайт» — комплекс программных средств, размещенных на web-сервере www.Lexium.ru, и предназначенных для технического обеспечения услуг Сайта.<br>
          <b>1.2 </b>Пользователь — физическое лицо, добровольно и по установленной форме прошедшее регистрацию на web-сайте www.Lexium.ru, с целью получения услуг, предоставляемых Сайтом, являющееся одной из сторон настоящего Соглашения с присвоением
          ему Имени пользователя (логина) и Пароля, а также согласившееся с условиями данного Соглашения от своего имени, от своего имени с согласия своего родителя/законного представителя или от имени несовершеннолетнего, родителем и/или законным представителем
          которого он является. Пользователь при регистрации определяет свой статус (роль на Сайте) из числа: школьник, учитель, студент.<br>
          <b>1.3 </b> Имя пользователя (логин) — последовательность символов, однозначно выделяющая (идентифицирующая) каждого отдельного пользователя среди других пользователей Сайта. В качестве логина может выступать адрес персональной электронной почты.<br>
          <b>1.4 </b> Пароль — последовательность символов, известная только самому Пользователю, хранящаяся на Сайте в зашифрованном виде и используемая для Аутентификации Пользователя.<br>
          <b>1.5 </b>Школьник — пользователь Сайта Lexium, учащийся начального, основного или среднего общеобразовательного заведения (школы), лицо, пользующееся уроками и наставлениями другого в какой-либо области знаний, действующее от своего имени,
          от своего имени с согласия своего родителя/законного представителя.<br>
          <b>1.6 </b>Учитель — пользователь Сайта Lexium, лицо, занимающееся преподаванием какого-либо предмета в начальной, основной или средней школе, преподаватель, школьный работник.<br>
          <b>1.7 </b>Студент — пользователь Сайта Lexium, учащийся среднего профессионального и/ или высшего учебного заведения, лицо, пользующееся уроками и наставлениями другого в какой-либо области знаний, действующее от своего имени.<br>
          <b>1.8 </b>Администрация Сайта «Lexium» (далее — «Администрация»)  — группа лиц, которая является официальными уполномоченными представителями Сайта, и осуществляет юридическое и фактическое сопровождение работы Сайта.<br>
          <b>1.9 </b>Служба технической поддержки — группа специалистов, консультирующих Пользователей по техническим вопросам работы Сайта, кроме вопросов настройки оборудования Пользователя и других вопросов, не имеющих прямого отношения к Сайту.<br>
          <b>1.10 </b>Регистрация — процедура, в ходе которой Пользователь полностью и безоговорочно принимает условия данного Соглашения, предоставляет достоверные данные о себе по утвержденной форме. Регистрация считается завершенной только в случае
          успешного заполнения всех необходимых полей формы Регистрации Пользователем и нажатием кнопки «Зарегистрироваться». Нажатие кнопки «Зарегистрироваться» Пользователем является моментом заключения настоящего Соглашения между Пользователем и Администрацией.<br>
          <b>1.11 </b>Идентификация (Учителя) — процедура, включающая в себя непосредственный контакт представителя Администрации с Пользователем в роли «Учитель» или образовательной организацией, или иной способ, в ходе которого однозначно констатируется
          факт работы данного Пользователя в образовательной организации в качестве учителя. Альтернативно процедура идентификации может быть проведена администратором учебного заведения на Сайте. Только Учитель, прошедший Идентификацию получает доступ
          к ряду персональных данных учителей и учащихся, зарегистрированных на Сайте в той же образовательной организации.<br>
          <b>1.12 </b>Профиль пользователя — учётная запись; хранимая в базе данных Сайта совокупность данных о Пользователе, необходимая для его опознавания (аутентификации) и предоставления доступа к его персональным данным и настройкам на Сайте.<br>
          <b>1.13 </b>Публичный профиль пользователя (далее — «Публичный профиль») — общедоступная страница Сайта, на которой с согласия Пользователя указаны его персональные данные, перечисленные в п.4.5 настоящего Соглашения. <br>
          <b>1.14 </b>Достижения и оценки — освоение заданий Пользователем на Сайте, выраженное в процентах, отображается в Публичном профиле только с согласия Пользователя. Алгоритм подсчета и оценки Достижений и размещается на Сайте.<br>
          <br>
          <center>
          <h3>2. Общие положения</h3><br>
          </center>
          <b>2.1 </b>Предметом Пользовательского соглашения является предоставление Сайтом Пользователю услуг по проведению дистанционных тренингов для школьников, студентов и учителей, а также других мероприятий (информация о которых размещается на Сайте
          Lexium).<br>
          <b>2.2 </b>До момента регистрации на Сайте Пользователь обязан полностью ознакомиться с настоящим Пользовательским соглашением.<br>
          <b>2.3 </b>Предложение Администрации Сайта принять условия настоящего Соглашения является публичной офертой. Принятие Пользователем условий настоящего Пользовательского соглашения является акцептом, который влечёт возникновение у Пользователя
          соответствующих обязанностей по соблюдению правил, предусмотренных настоящим Соглашением.<br>
          <b>2.4 </b>Регистрация Пользователя на Сайте означает, что Пользователь безоговорочно и в полном объеме принимает настоящее Пользовательское соглашение (акцепт оферты).<br>
          <b>2.5 </b>Администрация Сайта оставляет за собой право изменять и (или) дополнять настоящее Пользовательское соглашение в любой момент без предварительного уведомления Пользователя.<br>
          <b>2.6 </b>Обязанность ознакомления с действующей редакцией Пользовательского соглашения возлагается на Пользователя (действующая редакция Пользовательского соглашения располагается в сети Интернет по адресу: http://www.Lexium.ru/info/rules).<br>
          <b>2.7 </b>Пользование услугами, представленными на Сайте, после внесения изменений и (или) дополнений в Пользовательское соглашение, означает, что Пользователь согласен с такими изменениями и (или) дополнениями.<br>
          <b>2.8 </b>В целях поддержания полноценного доступа к Сайту устанавливаются следующие технические требования:   <br> современный браузер с поддержкой CSS 3.0, JavaScript 2.0, Cookies и некоторых элементов HTML5;   <br> Cайт работает в большинстве
          современных браузеров, как на компьютерах, так и на мобильных устройствах; <br>   Cайт полностью поддерживает браузеры: Microsoft Internet Explorer версии 9 и выше, Google Chrome (последняя версия), Firefox (последняя версия), Safari (7 и выше),
          Google Chrome для Android, Safari для iOS 5 или выше;   <br> постоянное Интернет-подключение с пропускной способностью не менее 128 кбит/с (килобит в секунду). <br>
          <br>
          <center>
          <b><h3>3. Права и обязанности сторон</h3></b>
          <h4>3.1 Права и обязанности Администрации сайта «Lexium»</h4><br>
          </center>
          <b>3.1.1</b> Администрация Сайта в целях сохранения информации, важной для Пользователя, регулярно создает резервные копии данных с возможностью их дальнейшего восстановления. <br>
          <b>3.1.2</b> Администрация Сайта обязуется предоставить свои услуги Пользователям и поддерживать в рабочем состоянии до прекращения действия данного Соглашения услуг, проверенных и введенных в регулярную эксплуатацию на Сайте. <br>
          <b>3.1.3</b> Администрация Сайта оставляет за собой право следить за поведением Пользователя в рамках использования им услуг Сайта, и предотвращать публикацию любых материалов, в том числе высказываний, нарушающих настоящие соглашение, а также
          принимать меры по наложению на Пользователя ответственности, предусмотренной в данном Соглашении и находящейся в компетенции Администрации. Бездействие Администрации Сайта на момент совершения пользователем действий, нарушающих настоящее соглашение,
          не означает, что соответствующие меры не будут приняты в дальнейшем.<br>
          <b>3.1.4</b> Администрация обязуется принимать меры по обеспечению безопасности персональных данных при их обработке, указанные в Федеральном законе от 27.07.2006 г. № 152-ФЗ «О персональных данных» (в ред. Федерального закона от 25.07.2011
          N 261-ФЗ). (Схема хранения персональных данных).<br>
          <b>3.1.5</b> В случае утраты Пользователем Пароля, по запросу Пользователя он может быть выслан на указанный им при Регистрации электронный адрес. В случае, если по каким-либо причинам Пользователь не может использовать указанный при Регистрации
          электронный адрес, пароль может быть предоставлен ему только после проверки соответствия данных, предоставленным лицом, подающим запрос на получение Пароля.<br>
          <b>3.1.6</b> Администрация Сайта не обязуется возвращать или уничтожать Материалы, предоставленные Пользователями в связи или при пользовании услугами Сайта.<br>
          <b>3.1.7</b> Администрация сайта не несет ответственности в случае прямых или косвенных финансовых или иных потерь Пользователей, вызванных временной неработоспособностью Сайта по следующим причинам: плановые или внеплановые  технические и профилактические
          работы, технические сбои интернет-провайдеров, компьютерных сетей, серверов и средств, а также противоправные действия третьих лиц или форс-мажорные обстоятельства. При этом Администрация Сайта берет на себя обязательство приложить максимум
          усилии для восстановления работоспособности Сайта в кратчайшие сроки.<br>
          <b>3.1.8</b> Администрация Сайта сохраняет за собой право в любое время изменить оформление Сайта, его содержание, список услуг, изменять и (или) дополнять используемые скрипты, программное обеспечение, сервисные приложения и другие объекты,
          которые используются или хранятся на Сайте, с уведомлением или без уведомления Пользователя.<br>
          <br>
          <center>
          <h4>3.2 Права и обязанности Пользователя</h4><br>
          </center>
          <b>3.2.1</b> Пользователь имеет право использовать на условиях настоящего Соглашения все введенные в регулярную эксплуатацию услуги Сайта для публикации и отправки собственных материалов, не запрещенных настоящим Соглашением и не нарушающих
          законодательство Российской Федерации.<br>
          <b>3.2.2</b> В целях сохранения в тайне доступа к персональным данным Пользователя, Пользователь берет на себя ответственность хранения пароля вне доступа третьих лиц, неразглашения пароля третьим лицам сознательно, а также ответственность своевременной
          смены пароля при помощи интерфейсов системы в случае утери или иной необходимости.<br>
          <b>3.2.3</b> В случае, если Пользователь обнаруживает факты, дающие основания полагать, что его доступ был использован кем-либо несанкционированно, он должен немедленно обратиться в Службу технической поддержки, отправив электронное письмо на
          электронную почту info@Lexium.ru для выяснения Администрацией ситуации и принятия мер по восстановлению возможности Пользователя пользоваться услугами сайта.<br>
          <b>3.2.4</b> Пользователь, зарегистрированный на сайте в роли Учителя, имеет право просматривать результаты и статистику учеников, зарегистрированных в той же образовательной организации.<br>
          <b>3.2.5</b> Школьник, Студент, пройдя регистрацию на Сайте Lexium, автоматически разрешает идентифицированным и зарегистрированным в его образовательной организации Учителям просматривать свои результаты и статистику.<br>
          <b>3.2.6</b> Пользователь соглашается не предпринимать действий, которые могут рассматриваться как нарушающие законодательство Российской Федерации или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских
          и/или смежных прав, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и услуг Сайта.<br>
          <b>3.2.7</b> Комментарии и иные записи Пользователя на Сайте не должны вступать в противоречие с требованиями законодательства Российской Федерации и общепринятых норм морали и нравственности.<br>
          <b>3.2.8</b> Пользователь с ролью «Учитель» несёт ответственность за материалы, созданные или размещённые Пользователем на Сайте. Данные материалы не должны вступать в противоречие с требованиями законодательства Российской Федерации и общепринятых
          норм морали и нравственности. <br>
          <b>3.2.9</b> Пользователь предупрежден о том, что Администрация не несет ответственности за посещение и использование им внешних ресурсов, ссылки на которые могут содержаться на сайте.<br>
          <b>3.2.10</b> Пользователь согласен с тем, что Администрация не несет ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием
          Сайта, регистрацией авторских прав и сведениями о такой регистрации, товарами или услугами, доступными на или полученными через внешние сайты или ресурсы, либо иные контакты Пользователя, в которые он вступил, используя размещенную на Сайте
          информацию или ссылки на внешние ресурсы.<br>
          <b>3.2.11</b> Пользователь принимает положение о том, что все материалы и услуги Сайта или любая их часть могут сопровождаться рекламой. Пользователь согласен с тем, что Администрация не несет какой-либо ответственности и не имеет каких-либо
          обязательств в связи с такой рекламой.<br>
          <b>3.2.12</b> Пользователь соглашается с тем, что Администрация имеет право по собственному усмотрению и без специального уведомления или предупреждения ограничивать доступ Пользователя на Сайт по причине нарушения требований настоящего Соглашения.<br>
          <b>3.2.14</b> Пользователь соглашается с тем, что Администрация может использовать его персональные данные, без передачи третьим лицам, в целях проведения маркетинговых исследований и маркетинговых мероприятий, а также размещать в пространстве,
          ограниченном доступом Пользователя, рекламные и информационные сообщения по своему усмотрению.<br>
          <b>3.2.15</b> Отмечая в форме регистрации или в форме редактирования своего профиля на Сайте «Я хочу получать письма с информацией об обновлениях на портале», Пользователь соглашается с тем, что Администрация может в целях проведения маркетинговых
          мероприятий направлять на предоставленный электронный адрес Пользователя рекламные и информационные сообщения по своему усмотрению. Пользователь может в любой момент отозвать направление таких сообщений на свой электронный адрес, убрав отметку
          «Я хочу получать письма с информацией об обновлениях на портале» в форме редактирования своего профиля на Сайте, либо отказавшись от рассылки новостей на специальной странице Сайта, ссылка на которую публикуется в рассылаемых письмах.<br>
          <b>3.2.16</b> Пользователь соглашается с тем, что Администрация имеет право по собственному усмотрению и без специального уведомления или предупреждения ограничивать доступ Пользователя на Сайт по причине нарушения требований настоящего Соглашения.<br>
          <br>
          <center>
          <h4>3.3 Пользователю запрещается:</h4><br>
          </center>
          <b>3.3.1</b> Загрузка, размещение, передача с помощью программных средств Сайта, и/или любого другого способа публикации текстов, программ, изображений или материалов, пропагандирующих террористическую деятельность, или разжигающих межнациональную, расовую или религиозную рознь, а также отображающих или пропагандирующих насилие или смерть, содержащих описание или изображение причинения вреда несовершеннолетним лицам в любой форме, включая любые формы порнографии.<br>
          <b>3.3.2</b> Загрузка, размещение, передача с помощью программных средств Сайта, или любого другого способа публикации текстов, программ, изображений или материалов, содержащих непристойные материалы и информацию, в любой форме, побуждающей к незаконным действиям, включая азартные игры, нелегальную продажу оружия или наркотиков.<br>
          <b>3.3.3</b> Совершать или допускать совершение преступных или разрушительных деяний, преследуемых в соответствии с законодательством Российской Федерации.<br>
          <b>3.3.4</b> Загружать, хранить или передавать любую рекламную информацию, описание мошеннических схем, схем сетевого маркетинга (MLM), систем заработка в сети «Интернет» и так далее.<br>
          <b>3.3.5</b> Выдавать себя за другого человека или представителя организации и/или сообщества, а также вводить других Пользователей в заблуждение.<br>
          <b>3.3.6</b> Собирать и хранить данные других Пользователей вне Сайта в ручном или автоматизированном режиме.<br>
          <br>
          <center>
          <b><h3>4. Обработка персональных данных</h3></b><br>
          </center>
          <b>4.1</b> Администрация запрашивает персональные данные, необходимые для регистрации на Сайте и для предоставления отдельных услуг, а именно: <br>
          для участия Пользователя в ТОПах Lexium; <br>
          для предоставления услуги «Результаты учащихся», <br>
          для направления информации (в т.ч. рекламы) в целях предложения услуг;  <br>
          при ответах на вопросы Пользователя;<br>
          при публикации отзывов Пользователя;<br>
          для обратной связи с Пользователем и пересылки новостей в случае, если Пользователь оставил свои данные через форму подписки на новости Сайта.<br>
          Если Пользователь желает отписаться от рассылки новостей, он может это сделать на специальной странице Сайта, ссылка на которую публикуется в рассылаемых письмах.br
          <b>4.2</b> Принятием  настоящего Соглашения Пользователь дает согласие на обработку персональных данных Администрацией, а именно:   <br>
          для показа рекламы;  <br>
          обращения к клиентам по смс и телефону;  <br> 
          другое.<br>
          <b>4.3</b> Администрация хранит персональную информацию Пользователя в соответствии с внутренними регламентами и требованиями действующего законодательства.<br>
          <b>4.4</b> Обеспечение безопасности персональных данных в соответствии с требованиями к защите персональных данных, установленными правительством РФ, организовано путем размещения ИСПДн, находящейся на территории РФ. <br>
          <b>4.5</b> Конфиденциальность персональных данных <br>
          <b>4.5.1</b> Персональные данные Пользователя обрабатываются Администрацией в соответствии с требованиями действующего законодательства Российской Федерации. <br>
          <b>4.5.2</b> В отношении персональной информации Пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц.<br>
          <b>4.5.3</b> Принятием настоящего Соглашения Пользователь дает согласие на обработку Администрацией следующих персональных данных:<br>
          Адрес электронной почты;<br>
          Имя, Фамилия, Отчество;<br>
          Пол;<br>
          Роль на Сайте (для каждой роли указываются разные персональные данные):<br>
          Школьник:<br>
          <b>■</b> Образовательная организация <br>
          <b>■</b> Номер и буква класса <br>
          Учитель: <br>
          <b>■</b> Номер телефона (необходим для идентификации Учителя Администрацией) <br>
          <b>■</b> Образовательная организация  <br>
          Студент:<br>
          <b>■</b> Образовательная организация <br>
          <b>■</b> Номер и буква курса <br>
          <b>4.5.5</b> Пользователь имеет право в любой момент обезличить часть своих персональных данных, сделав свой профиль на Сайте анонимным. Для этого в личном кабинете (редактировании профиля) на Сайте Пользователю следует отказаться от опции «Согласен участвовать в ТОПах и публиковать мой профиль».<br>
          <b>4.5.6</b> При отказе от опции, указанной в п. 4.5.4 настоящего Соглашения, из Публичного профиля Пользователя на Сайте скрываются (обезличиваются) следующие персональные данные: имя, фамилия, отчество, фото профиля, роль на Сайте, достижения и оценки. Следующие данные остаются общедоступными: роль на Сайте, образовательная организация, класс и буква класса/группа и название группы в образовательной организации, Имя, фамилия и отчество заменяются на «Невидимка».<br>
          <b>4.5.7</b> В случае, если Пользователь выбирает анонимный профиль, то определенным категориям зарегистрированных на Сайте Пользователей по-прежнему видны следующие данные: имя, фамилия, отчество, фото профиля, роль на Сайте, образовательная организация, класс и буква класса/группа и название группы в образовательной организации, достижения и оценки.<br>
          Категории Пользователей, для которых остаются доступны персональные данные, упомянутые в п. 4.5.7 настоящего соглашения:<br>
          для Школьника:<br>
          <b>■</b> зарегистрированный в той же образовательной организации Учитель, идентифицированный на Сайте
          для Учителя:<br>
          <b>■</b> зарегистрированный в той же образовательной организации Учитель, идентифицированный на Сайте
          для Студента:<br>
          <b>■</b> зарегистрированный в той же образовательной организации Учитель, идентифицированный на Сайте <br>
          <b>4.6</b> Администрация вправе передать персональную информацию Пользователя третьим лицам в следующих случаях:<br>
          Пользователь выразил своё согласие на такие действия;<br>
          передача необходима в рамках использования Пользователем услуг Сайта;<br>
          передача предусмотрена законодательством в рамках установленной законодательством процедуры;<br>
          такая передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части), при этом к приобретателю переходят все обязательства по соблюдению условий конфиденциальности применительно к полученной им персональной информации.<br>
          <b>4.7</b> Пользователь имеет право изменить предоставленную информацию через личный кабинет (редактирование Профиля пользователя).<br>
          <b>4.8</b> Пользователь имеет право отозвать свое согласие на обработку персональных данных путем направления письменного заявления по реквизитам, указанным в Контактной информации.
          <b>4.9</b> Согласие Пользователя на обработку персональных данных действует в течение 1 года с момента его регистрации на Сайте, или в течение всего срока пользования Сайтом вплоть до момента удаления Профиля пользователя.
          <center>
          <br><b><h3>5. Редактирование/удаление Профиля пользователя, а также персональных данных Пользователя</h3></b><br>
          </center>
          <b>5.1</b> Пользователь имеет право изменить или удалить предоставленные персональные данные, указанные в личном кабинете, через редактирование профиля.<br>
          <b>5.2</b> Пользователь может изменить свои персональные данные, зайдя на Сайт, нажав на свои имя и фамилию над левым меню Сайта, выбрав «Редактирование профиля».<br>
          <b>5.3</b> Администрация, а также другие уполномоченные лица (например, Учитель, зарегистрированный в образовательной организации пользователя с ролью «Школьник») могут редактировать персональные данные Пользователя с его разрешения или по его просьбе.<br>
          <b>5.4</b> Администрация не несет ответственности за последствия, которые может повлечь за собой изменение персональных данных Пользователя лицом, которому Пользователь добровольно дал доступ к своим персональным данным.<br>
          <b>5.5</b> Пользователь может удалить свой Профиль пользователя, зайдя на Сайт, нажав на свои имя и фамилию над левым меню Сайта, выбрав «Редактирование профиля» и затем «Удалить профиль».<br>
          <b>5.6</b> Профиль пользователя может быть удален с Сайта, если Администрация установит нарушения Пользователем условий настоящего Соглашения, либо другие действия, направленные на причинение морального, этического или имущественного вреда Администрации либо другим пользователям Сайта.<br>
          <b>5.7</b> Публичный профиль сохраняется на Сайте до момента удаления Профиля пользователя Пользователем.<br>
          <b>5.8</b> Профиль пользователя удаляется автоматически, если Пользователь не завершил процесс Регистрации и не активировал свой профиль в течение пяти дней. Процесс Регистрации описан в п.1.14 настоящего Соглашения.<br>
          <b>5.9</b> Профиль пользователя удаляется автоматически, если Пользователь не заходил на Сайт (не пользовался Сайтом) более одного календарного года.<br>
          <b>5.10</b> После удаления Профиля пользователя персональные данные Пользователя сохраняются в базе данных Сайта с целью хранения отчетности об успеваемости и доступны Администрации. В этом случае персональные данные Пользователя сохраняются не дольше, чем того требует действующее законодательство Российской Федерации.<br>
          <center>
          <br><b><h3>6. Интеллектуальные права</h3></b><br>
          </center>
          <b>6.1</b> Объекты, размещенные на Сайте: элементы дизайна, текст, иллюстрации, изображения, видео, программы, программный код, скрипты, другие объекты (далее – Материал), являются объектами исключительного права Сайта (правообладателя).<br>
          <b>6.2</b> Результаты интеллектуальной деятельности и приравненные к ним средства индивидуализации охраняются действующим гражданским законодательством об интеллектуальной собственности, а также международными конвенциями в области интеллектуальной собственности.  <br>
          <b>6.3</b> В соответствии с четвертой частью Гражданского кодекса Российской Федерации Материал не может быть воспроизведен (в т.ч. с помощью копирования), переработан, распространен, опубликован или использован иным образом (как целиком, так и по частям) без предварительного согласия правообладателя, за исключением тех случаев, когда правообладатель выразил свое согласие на свободное использование Материала любым лицом.  <br>
          <b>6.4</b> Сайту принадлежит исключительное право на все произведения (материалы), используемые в процессе оказания услуг и могут быть использованы Пользователем только в процессе получения соответствующей услуги. Любое другое использование возможно только с письменного согласия Администрации.  <br>
          <b>6.5</b> При разрешенном использовании информации Сайта Пользователь обязан указывать ссылку со следующими данными: Образовательный ресурс «Lexium».  <br>
          <b>6.6</b> Авторские материалы, размещенные на Сайте Пользователем, не возвращаются. Администрация вправе распоряжаться авторскими материалами Пользователя без получения предварительного согласия Пользователя и выплаты ему авторского вознаграждения.  <br>
          <b>6.7</b> Пользователь (законный представитель Пользователя) дает свое согласие на использование полученных в рамках творческого задания результатов интеллектуальной деятельности любыми способами, предусмотренными в статье 1270 Гражданского кодекса Российской Федерации, но с указанием имени Пользователя (автора).<br>
          <center>
          <br><b><h3>7. Услуги</h3></b><br>
          </center>
          <b>7.1</b> На Сайте оказываются услуги по проведению дистанционных тренингов для школьников, студентов и учителей.  <br>
          <b>7.2</b> Услуги оказываются как на безвозмездной, так и на платной основе. Перечень всех услуг определен на сайте.  <br>
          <b>7.3</b> Оказание части услуг Пользователю осуществляется на платной основе в соответствии с тарифами, утвержденными Администрацией. Перечень и условия оплаты платных услуг, выбранных Пользователем, порядок и сроки их оплаты размещаются на Сайте в разделе «Подписка».  <br>
          <b>7.4</b> Пользователь обязуется самостоятельно и своевременно знакомиться с услугами, оказываемыми Администрацией, а также установленными на них тарифами (информация о которых размещается на Сайте).  <br>
          <b>7.5</b> Платные услуги предоставляются Пользователю на условиях 100% предоплаты в соответствии с установленными тарифами.  <br>
          <b>7.6</b> В случае отсутствия оплаты или не поступления платежа в установленный срок, Администрация вправе отказать Пользователю в предоставлении выбранной им платной услуги.  <br>
          <b>7.7</b> Пользование платными услугами не является необходимым условием участия Пользователя на Сайте и предоставляются по желанию Пользователя. <br>
          <b>7.8</b> Денежные средства, внесенные в качестве оплаты за пользование платными услугами Сайта, возврату не подлежат, в том числе в случае отказа Пользователя от услуг Сайта.  <br>
          <b>7.9</b> За допущенные при осуществлении оплаты ошибки отвечает Пользователь.<br>


          <br>
          <center>
          <b><h3>8. Форс-мажор и чрезвычайные обстоятельства</h3></b><br>
          </center>
          <b>8.1</b> В случае возникновения непредвиденных чрезвычайных ситуаций, вследствие катастроф, пожаров, природных катаклизмов, а также вследствие вмешательства третьих лиц, в том числе государственных служб безопасности и правоохранительных органов, и иных чрезвычайных и непредотвратимых при данных условиях обстоятельств, при которых надлежащее исполнение оказалось невозможным, Сайт и Администрация не несут ответственности за прекращение доступа Пользователя к его аккаунту (Профилю пользователя), прекращение работы программного обеспечения и оборудования, осуществляющего функционирование сервиса, частичную или полную утерю без возможности восстановления регистрационных данных Пользователя и информации, хранимой Пользователем в аккаунте и не обязан возмещать Пользователю понесенные в связи с этим убытки.<br>
          <center>
          <br><b><h3>9. Разрешение споров и удовлетворение претензий</h3></b><br>
          </center>
          <b>9.1</b> Использование материалов и услуг Сайта регулируется нормами действующего законодательства Российской Федерации. Все споры и претензии регулируются на основании положений настоящего Соглашения и в порядке, установленном законодательством Российской Федерации.  <br>
          <b>9.2</b> Любые вопросы, комментарии и иная корреспонденция Пользователя должны направляться Администрации по следующему адресу электронной почты info@Lexium.ru. Администрация не несет ответственности и не гарантирует ответ на запросы, вопросы, предложения и иную информацию, направленные ему любым другим способом.<br>
          <b>9.3</b> Все возникшие в связи с настоящим Соглашением претензии в первую очередь направляются Пользователем Администратору Сайта по электронной почте info@Lexium.ru. Администрация обязуется в течение 10 (десяти) рабочих дней ответить на данную претензию, направив письмо с изложением своей позиции по указанному в претензии адресу электронной почты. При этом претензии Пользователей, которых не представляется возможности идентифицировать на основе предоставленных им при регистрации данных (в том числе анонимные претензии), Администрацией не рассматриваются. В случае, если Пользователь не согласен с аргументами, приведенными Администрацией в ответе на претензию, процедура ее урегулирования повторяется при помощи направления мотивированного ответа Пользователя с использованием почтовой связи, а именно заказным письмом с уведомлением. В случае невозможности разрешения претензии путем переговоров, спор разрешается в порядке, предусмотренным нормами российского законодательства. <br>
          <b>9.4</b> Не принимаются претензии, возникшие по причине неудовлетворительной работы Cайта в результате недостаточной технической мощности оборудования или интернет-канала Пользователя, неправильных настроек оборудования или программного обеспечения на стороне Пользователя.<br>
          <br>
          <center>
          <b><h3>10. Заключительные положения</h3></b><br>
          </center>
          <b>10.1</b> Настоящее соглашение вступает в силу после успешного прохождения Пользователем Регистрации и действует до наступления обстоятельств, обуславливающих необходимость остановки функционирования Сайта и всех его услуг, либо до момента расторжения отношений с Пользователем по причине нарушения им положений настоящего Соглашения, либо по причине прекращения эксплуатации услуг Пользователем, а также в иных случаях, предусмотренных законодательством и настоящим Соглашением.  <br>
          <b>10.2</b> Регистрируясь на Сайте, Пользователь подтверждает своё согласие со всеми положениями Соглашения, а также своё соответствие всем условиям, отражённым в формах регистрации и необходимым для успешной регистрации на Сайте.  <br>
          <b>10.3</b> Логин и пароль Пользователя будут сохранены с возможностью повторной активации в течение 100 (ста) дней после прекращения возможности использования Сайта Пользователем. Для активации Пользователь должен обратиться в Службу технической поддержки для повторного получения ссылки активации на указанный при первой регистрации электронный адрес.  <br>
          <b>10.4</b> Вопросы, не урегулированные настоящим Соглашением, подлежат разрешению в соответствии с действующим законодательством Российской Федерации.  <br>
          <b>10.5</b> Настоящее Соглашение не может быть трактовано как договор об установлении агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений между Пользователем и Сайтом, прямо не указанных в настоящем Соглашении.<br>
        </p>
        </div>
    </div>
  </div>
  </div>
</template>

<script>
import Header from './Header.vue';

export default {
  components: {
    'app-header': Header,
  }
}
</script>

<style lang="css">

.dju {
  margin: 20px !important;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

</style>
